
<h1>NAME</h1>
<h2>{{myList.name}}</h2>
<br/>
<h1>TO DO</h1>
<h2>{{myList.toDo01}}</h2> <button (click)="onClickDelete()">Delete</button>
<h2>{{myList.toDo02}}</h2>
<h2>{{myList.toDo03}}</h2>
<h2>{{myList.toDo04}}</h2>
<h2>{{myList.toDo05}}</h2>

<!-- <ng-template ngFor 
             [ngForOf]="listOfTasks" 
             let-listOfTask
             let-i="index">

	<div class="mb-3">
    {{ listOfTask.toDo[i] }} <br/>
    {{ listOfTask.name }} <br/>
    {{ listOfTask.toDo }} 
  </div>

</ng-template> -->


