
<form (ngSubmit)="onSubmit()">
  <div>
      <label for="city">City: </label>
      <input type="text" placeholder="City" name="city" required [(ngModel)]="model.city">
  </div>
  <div>
      <label for="Country">Email: </label>
      <input type="text" placeholder="Country" name="country" email required [(ngModel)]="model.country">
  </div>
  <div>
      <label for="Description">Description: </label>
      <textarea type="text" placeholder="Description" name="description" required [(ngModel)]="model.description"></textarea>
  </div>
  <div>
      <button type="submit">Submit</button>
  </div>
</form>